$primary-color: #272c33;

$secondary-color:#1a1d22;
$third-color: #2F333D;

$accent-color: #21252B;

$dark-black: #292933;

$main-text: white;

$blue-color: #1663bb;
$orange-color: #cc9c0f;
$red-color: #DB3A34;
$green-color: #27AE65;
$golden-color: #ccac00;

@font-face {
  font-family: IconsFont;
  src: url(src/resources/fonts/fa-solid-900.ttf);
}
