<div *ngIf="loadingApp">
  Loading app</div>
<div *ngIf="!loadingApp">
  <div class="col-md-10 col-md-offset-1" style="margin-top: 150px;">
    <div class="col-md-4 col-md-offset-4">
      <div class="column">
        <div class="row" style="background-color: #1a1d22">
          <img class="logoDisplay" style="height: 75px; width: 246px;" src="./src/resources/img/TextLogoWhite.png">
        </div>
        <div *ngIf="connectionErrorMessage != null" class="errorText">{{connectionErrorMessage}}</div>>
        <div class="row">
          <div class="input">
            <input class="inputField" [(ngModel)]="settings.remoteControl.username" type="text">
            <div class="inputFieldText" [class.notEmpty]="settings.remoteControl.username != '' && settings.remoteControl.username != null">Username</div>
          </div>
        </div>
        <div class="row">
          <div class="input">
            <input class="inputField" [(ngModel)]="settings.remoteControl.password" type="password">
            <div class="inputFieldText" [class.notEmpty]="settings.remoteControl.password != '' && settings.remoteControl.password != null">Password</div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6" style="padding: 0;">
            <div class="input">
              <input class="inputField" [(ngModel)]="settings.remoteControl.address" type="text">
              <div class="inputFieldText" [class.notEmpty]="settings.remoteControl.address != '' && settings.remoteControl.address != null">IP Address</div>
            </div>
          </div>
          <div class="col-md-6" style="padding: 0;">
            <div class="input">
              <input class="inputField" [(ngModel)]="settings.remoteControl.port" type="number">
              <div class="inputFieldText" [class.notEmpty]="toString(settings.remoteControl.port) != '' && settings.remoteControl.port != null">Port</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="input">
            <input class="checkboxField" [(ngModel)]="settings.remoteControl.rememberCred" type="checkbox" />
            <div class="checkboxFieldText">Remember credentials?</div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6  col-md-offset-3">
            <button class="inputButton defaultButton" style="margin: 23px 0 10px 0;" (click)="connect()">
              <span>CONNECT</span>
            </button>
          </div>
        </div>
      </div>
      <div class="row underlinedText">
        Haven't set up your bot yet?
        <em data-toggle="modal" data-target="#rcSETUP">SET UP</em>
      </div>
    </div>
  </div>
  <div id="rcSETUP" class="modal fade popupMessageBox" role="dialog">
    <div id="popupContent" class="modal-dialog" style="width: 600px;">
      <div class="row columnHeader">
        <div class="col-md-4">
          <div>SAVE LOCATION</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="input" style="margin-bottom: 15px;">
            <label class="inputField">Path: {{saveLocation}}
              <input type="file" size="1" (change)="pathChange($event)" webkitdirectory directory />
            </label>
            <div class="inputFieldText notEmpty">Save location</div>
          </div>
        </div>
      </div>
      <div class="row columnHeader">
        <div class="col-md-4">
          <div>OPTIONS</div>
        </div>
      </div>
      <div *ngIf="fileErrorMessage != null" class="errorText">{{fileErrorMessage}}</div>>
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="input">
              <input class="inputField" [(ngModel)]="remote.telegram.token" type="text">
              <div class="inputFieldText" [class.notEmpty]="remote.telegram.token != ''&& remote.telegram.token != null">BOT Token
              </div>
            </div>
          </div>
          <div class="row">
            <div class="input">
              <input class="inputField" [(ngModel)]="remote.telegram.owner" type="text">
              <div class="inputFieldText" [class.notEmpty]="remote.telegram.owner != ''&& remote.telegram.owner != null">BOT Owner Username</div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="input">
              <input class="inputField" [(ngModel)]="remote.internal.username" type="text">
              <div class="inputFieldText" [class.notEmpty]="remote.internal.username != ''&& remote.internal.username != null">RC Username
              </div>
            </div>
          </div>
          <div class="row">
            <div class="input">
              <input class="inputField" [(ngModel)]="remote.internal.password" type="password">
              <div class="inputFieldText" [class.notEmpty]="remote.internal.password != ''&& remote.internal.password != null">RC Password
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="padding: 20px 0 10px 0">
        <div class="col-md-3 col-md-offset-3">
          <button class="inputButton redButton" data-dismiss="modal">
            <span>CLOSE</span>
          </button>
        </div>
        <div class="col-md-3">
          <button class="inputButton blueButton" (click)="exportRC()">
            <span>SAVE</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>